<div class="w-full px-3 sm:px-4 md:px-6 lg:px-8">
  <div class="grid">
    <div class="grid__item">
      <h1 class="section-title">{{ page.title }}</h1>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main Page",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 28
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 28
    }
  ]
}
{% endschema %}