<section class="page-content">
  {{ content_for_index }}
</section>

{% section 'hero-banner' %}
{% section 'featured-collection-grid' %}
{% section 'material-story' %}
{% section 'categories' %}
{% section 'best-sellers' %}
{% section 'testimonials' %}
{% section 'trending-products' %}
{% section 'newsletter-signup' %}