<section class="page-content">
  {{ content_for_index }}
</section>

{% section 'hero-banner-with-categories' %}
{% section 'popular-categories' %}
{% section 'featured-products-grid' %}
{% section 'deals-of-the-day' %}
{% section 'promotional-banners' %}
{% section 'featured-brands' %}
{% section 'best-sellers' %}
{% section 'impact-stats' %}
{% section 'why-choose-us' %}
{% section 'testimonials-grid' %}
{% section 'blog-posts-grid-v2' %}
{% section 'cta-with-features' %}
{% section 'newsletter-signup' %}