<section class="page-content">
  {{ content_for_index }}
</section>

{% section 'product-promotion' %}
{% section 'categories' %}
{% section 'shop-by' %}
{% section 'best-sellers' %}
{% section 'trending-products' %}
{% section 'recently-viewed' %}
{% section 'newsletter-signup' %}