<section class="page-content">
  {{ content_for_index }}
</section>

{% section 'hero-triple' %}
{% section 'featured-products-slider' %}
{% section 'best-sellers' %}
{% section 'shop-by-category-grid' %}
{% section 'impact-stats' %}
{% section 'why-choose-us' %}
{% section 'testimonials-grid' %}
{% section 'blog-posts-grid' %}
{% section 'cta-with-features' %}
{% section 'newsletter-signup' %}